html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
}

.gameWin {
  z-index: 10;
}

.gameWin img {
  width: 1080px;
  height: auto;
}

.gameOver {
  z-index: 10;
}

.gameOver img {
  width: 1080px;
  height: auto;
}

header {
  height: 5rem;
  font-size: 4em;
  grid-column: 1 / 13;
  grid-row: 1;
}

.container {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background: url(../images/SuperMarioBrosMap2-1BG2.png) no-repeat center bottom
    fixed;
  background-size: cover;
}

.content {
  grid-column: 4/ 10;
  grid-row: 2 / 5;
  text-align: left;
  background-color: azure;
  border-radius: 1em;
}

.content p {
  padding: 0.5em;
}

.newGame {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  border-radius: 1em;
  background-color: #3eb83e;
}

.resetGame {
  grid-column: 9 / 10;
  grid-row: 4 / 5;
  border-radius: 1em;
  background-color: #df4343;
}

.targetNumber {
  grid-column: 4 / 7;
  grid-row: 5 / 6;
  font-size: 3em;
}

.score {
  grid-column: 7 / 10;
  grid-row: 5 / 6;
  font-size: 3em;
}

.wins {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  font-size: 2.5em;
}

.losses {
  grid-column: 8 / 9;
  grid-row: 4 / 5;
  font-size: 2.5em;
}

.buttons {
  grid-column: 5 / 9;
  grid-row: 6 / 8;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
}

.buttons img {
  width: 96px;
  height: auto;
}

.btn {
  cursor: url("../images/Mario.png"), auto;
  margin: auto 3px;
  background: none;
  border: none;
  height: 50%;
}

@keyframes slide {
  50% {
    margin-top: 0;
  }
}

.btn:active {
  animation-name: slide;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

footer {
  flex-shrink: 0;
  height: 1.25rem;
  color: white;
}
